* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(90deg, hsla(207, 50%, 30%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
}

.container {
    color: #f0f183;
    width: 50%;
    max-width: 500px;
    margin: 11% 10%;
}

.container h1 {
    font-size: 2.3rem;
}

.display {
    width: 100%;
    background: linear-gradient(90deg, hsla(207, 68%, 69%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
    padding: 35px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.display input {
    width: calc(100% - 70px);
    padding: 10px 5px;
    font-size: 1.3rem;
    outline: 0;
    border: none;
    border-radius: 5px;
}

.display button{
    font-size: 1rem;
    background-color: #f0f183;
    border: none;
    outline: 0;
    padding: 14px 12px;
    border-radius: 5px;
}

.msgContainer{
    width: 310px;
    color: #fff;
    margin-top: 25px;
}

.msg span{
    color: #fcff57;
}

@media (max-width:525px) {
    .display{
        padding: 25px 10px;
        width: 280px;
    }

    .display input{
        padding: 8px 3px;
    }
}